<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InvoiceCheck</servlet-name>
        <servlet-class>invoices.InvoiceCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostedInvoiceServlet</servlet-name>
        <servlet-class>invoices.PostedInvoiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllInvoiceData</servlet-name>
        <servlet-class>invoices.AllInvoiceData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSpecificInvoice</servlet-name>
        <servlet-class>invoices.GetSpecificInvoice</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InvoiceCheck</servlet-name>
        <url-pattern>/invoice_check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostedInvoiceServlet</servlet-name>
        <url-pattern>/post_invoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllInvoiceData</servlet-name>
        <url-pattern>/all_invoices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSpecificInvoice</servlet-name>
        <url-pattern>/get_invoice</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
